//GLOBAL VARIABLES

//COLORS
$topnav-bg-color: #f5f5f5;
$topnav-gradient-bot: #ededed;
$topnav-gradient-mid: #f0f0f0;
$topnav-gradient-top: #f5f5f5;
$topnav-border-color: #cfcfcf;
$topnav-dropshadow-color: rgba(0,0,0, 0.15);
$topnav-innershadow-color: rgba(255,255,255, 0.65);
$topmenu-link-color: #1e98d6;
$topmenu-divider-color: #999999;
$search-text-color: #989898;
$search-text-border-color: #cccccc;
$search-text-dropshadow-color: #fff;
$search-text-innershadow-color: rgba(0,0,0, 0.17);
$search-submit-color: #000;
$search-submit-border-color: #7e7e7e;
$search-submit-dropshadow-color: #fff;
$search-submit-innershadow-color: #fff;
$search-submit-gradient-bot: #b5b5b5;
$search-submit-gradient-mid: #cfcfcf;
$search-submit-gradient-top: #e5e5e5;
$logo-color: #000;
$navigation-link-color: #000;
$navigation-selected-border-color: #f0f0f0;
$navigation-selected-background-color: #f5f5f5;
$navigation-selected-innershadow-color: rgba(0,0,0, 0.18);
$navigation-hover-border-color: rgba(0,0,0, 0.12);
$navigation-hover-innershadow-color: rgba(255,255,255, 0.75);
$contentbox-subheading-color: #51c2fc;
$contentbox-heading-color: #000;
$contentbox-description-color: #000;
$productbutton-bg-color: #e0e0e0;
$productbutton-border-color: #7e7e7e;
$productbutton-gradient-bot: #b5b5b5;
$productbutton-gradient-mid: #cfcfcf;
$productbutton-gradient-top: #e5e5e5;
$productbutton-innershadow-color: #fff;
$productbutton-dropshadow-color: #fff;
$productbutton-text-color: #000;

//UI colors
//BREAKPOINTS

//TYPOGRAPHY
//and other deafults
html, body {
}
body {
    font-size: 16px;
    line-height:1;
    font-family: sans-serif;
}

//FONT SIZES

//Buttons
